body{
	font-family: Gilroy;
	font-weight: 400;
	font-size: 17px;
	color: #333333;
}

.button{
	text-align: center;
	font-weight: 600;
	font-size: 15px;
	color: #ffffff;
}

.soc{
	&_tg{
		width: 22px;
		height: 22px;
		background: url(../images/sprite.svg) -9px -244px;
	}
	&_vi{
		width: 22px;
		height: 22px;
		background: url(../images/sprite.svg) -39px -244px;
	}
	&_fb{
		width: 22px;
		height: 22px;
		background: url(../images/sprite.svg) -99px -244px;
	}
}

.caption-h2{
	font-weight: 700;
	text-transform: uppercase;
	font-size: 34px;
}

