body{
	font-family: Gilroy;
	font-weight: 400;
	font-size: 17px;
	color: #333333;
}

/*buttons*/

.button{
	text-align: center;
	font-weight: 600;
	font-size: 15px;
	color: #ffffff;
	background: #FF8303; 
	padding: 0 30px; 
	height: 42px;
    line-height: 42px;
	&_big{
		height: 52px;
		line-height: 52px;
		text-transform:uppercase;
		font-weight:700;
		letter-spacing: 0.04em;
	}
	&_white{
		background:#fff;
		color:#0061DD;
	}
	&_blue{
		background:#0061DD;
		color:#fff;
	}
}

/*logo*/

.logo {
	display: block;
	width: 258px;
	height: 34px;
	background:url(../images/logo.svg) no-repeat center/contain; 
	z-index: 110;
	background-repeat: no-repeat;
} 

/*social icons*/

.soc-wr {
	display: flex;
	align-items: center;
	z-index: 110;
	&>:not(:last-child) {
		margin-right: 10px;
	}  
}

.soc {
	width: 20px;
	height: 20px;
	display: inline-block;  
	width: 22px;
	height: 22px;
	&_tg{
		background: url(../images/sprite.svg) -9px -244px;
	}
	&_vi{
		background: url(../images/sprite.svg) -39px -244px;
	}
	&_fb{
		background: url(../images/sprite.svg) -99px -244px;
	}
}


/**/


.caption-h2{
	font-weight: 700;
	text-transform: uppercase;
	font-size: 34px;
}


/*media*/

@media (max-width: 639px) {
	 
	.button{
		line-height:40px;
		height:40px;
		font-size:14px;
		&_big{
			line-height:44px;
			height:44px; 
		}
	} 
	 
	.logo{
		width: 168px;
		height: 22px;
	}
	.soc-wr { 
		zoom: 0.9;
	}
}
