.footer{
	display: flex;
    flex-direction: column;
	&__top{
		background: #0061dd;
	}
	&__main{
		background: #f3f8ff;
		padding: 90px 0;
		@media (max-width: 1024px) {
			padding: 60px 0;
		}
		@media (max-width: 768px) {
			order: -1;
		}
		@media (max-width: 630px) {
			padding: 30px 0 35px;
		}
	}
	&__navbar {
		@media (min-width: 1024px) {
			display: flex;
			justify-content: center;
		}
	}
	&__bottom{
		background: #e2eeff;
		padding: 8px 0;

		@media (max-width: 1280px) {
			padding: 8px 15px;
		}
		@media (max-width: 630px) {
			padding:0;
		}
		& .wrapper {
			width: 100%;
			display: flex;
			align-items: center;
			padding: 0 15px;
			margin: 0 auto;
			&>* {
				display: flex;
				align-items: center;

				@media (max-width: 630px) {
					margin: 0 15px;
					padding-top: 10px;
					padding-bottom: 10px;
				}
			}

			@media (max-width: 1280px) {
				padding: 0;
			}
			@media (max-width: 630px) {
				flex-direction: column;
				align-items: stretch;
			}
		}
	}
	&__copy{
		font-size: 14px;
		color: #595959;
		@media (max-width: 630px) {
			font-size: 13px;
			line-height: 177%;
		}
	}
	&__logo {
		margin-bottom: 45px;
		@media (min-width: 768px) {
			zoom: 1.295;
			width: 333.01px;
			height: 44px;
		}
		@media (max-width: 630px) {
			margin-bottom: 28px;
		}
	}
	&__contacts {
		display: grid;
		grid-template-columns: 37.08% 37.08% 25.83%;
		row-gap: 60px;

		@media (max-width: 1280px) {
			grid-template-columns: repeat(2, 1fr);
			row-gap: 45px;
		}
		@media (max-width: 630px) {
			grid-template-columns: 1fr;
			row-gap: 30px;
		}
	}

	&__soc {
		display: flex;
		align-items: center;
		margin-left: 18px;


		&>*:not(:last-child) {
			margin-right: 10px;
		}
	}
}

.contacts{

	&__caption{
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 0.04em;
		color: #0061dd;
		font-family: 'Gilroy';
		font-style: normal;
		font-size: 17px;
		line-height: 135%;
		margin-bottom: 7px;

		@media (max-width: 768px) {
			font-size: 15px;
			line-height: 153%;
		}
	}
	&__add{
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 164%;
		color: #595959;
		margin-bottom: 11px;

		@media (max-width: 768px) {
			font-size: 13px;
			line-height: 177%;
		}
	}
}

.contact{
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 153%;
	letter-spacing: 0.01em;
	color: #333333;
	display: flex;
	align-items: center;
	text-decoration: none;

	@media (max-width: 768px) {
		font-size: 14px;
		line-height: 164%;
	}
	&:not(:last-child) {
		margin-bottom: 8px;
	}
	&:before{
		content:'';
		display:block;
		width: 20px;
		height: 20px;
		margin-right: 10px;
	}
	&_phone:before{
		background: url(../images/sprite.svg) -9px -206px;
	}
	&_mail:before{
		background: url(../images/sprite.svg) -37px -206px;
	}
}

.soc-blue{
	background: #0061dd;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;

	@media (max-width: 630px) {
		zoom: 0.9;
	}
	&:before{
		content:'';
		display:block;
		width: 25px;
		height: 25px;
	}
	&_fb:before{
		background: url(../images/sprite.svg) -9px -284px;
	}
	&_yt:before{
		background: url(../images/sprite.svg) -43px -284px;
	}
}

.weblamas{
	display: flex;
	align-items: center;
	font-size: 14px;
	margin-left: auto;
	font-size: 14px;
	line-height: 164%;
	color: #595959;
	& span {
		margin-right: 6px;
	}

	@media (max-width: 630px) {
		border-top: 1px solid #CCE1FF;
		margin-left: 0;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 11px;
		line-height: 23px;
	}
}

