.footer{
	display: flex;
    flex-direction: column;
	&__top{
		background: #0061dd;
	}
	&__main{
		background: #f3f8ff;
		padding: 90px 0;
		@media (max-width: 1279px) {
			order: -1; 
			padding: 60px 0;
		}
		@media (max-width: 639px) {
			padding: 30px 0 35px;
		}
	}
	&__navbar { 
	}
	&__bottom{
		background: #e2eeff;
		padding: 8px 0;

		@media (max-width: 1279px) {
			padding: 8px 15px;
		}
		@media (max-width: 639px) {
			padding:0;
		}
		& .wrapper {
			width: 100%;
			display: flex;
			align-items: center;
			padding: 0 15px;
			margin: 0 auto;
			&>* {
				display: flex;
				align-items: center;

				@media (max-width: 639px) {
					margin: 0 15px;
					padding-top: 10px;
					padding-bottom: 10px;
				}
			}

			@media (max-width: 1279px) {
				padding: 0;
			}
			@media (max-width: 639px) {
				flex-direction: column;
				align-items: stretch;
			}
		}
	}
	&__copy{
		font-size: 14px;
		color: #595959;
		@media (max-width: 639px) {
			font-size: 13px; 
		}
	}
	&__logo {
		margin-bottom: 40px; 
		width: 334px;
		height: 44px; 
		@media (max-width: 639px) {
			margin-bottom: 28px;
			width:228px;
			height:30px;
		}
	}
	&__contacts {
		display: grid;
		grid-template-columns: repeat(3,1fr); 
		grid-gap: 60px 135px;

		@media (max-width: 1279px) {
			row-gap: 45px;
			grid-gap: 45px 35px;
		}
		@media (max-width: 1023px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: 639px) {
			grid-template-columns: 1fr;
			row-gap: 30px;
		}
	}

	&__soc {
		display: flex;
		align-items: center;
		margin-left: 18px;


		&>*:not(:last-child) {
			margin-right: 10px;
		}
	}
}

.contacts{

	&__caption{
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 0.04em;
		color: #0061dd;
		font-family: 'Gilroy';
		font-style: normal;
		font-size: 17px; 
		margin-bottom: 7px;

		@media (max-width: 639px) {
			font-size: 15px; 
		}
	}
	&__add{
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 400;
		font-size: 14px; 
		color: #595959;
		margin-bottom: 11px;

		@media (max-width: 639px) {
			font-size: 13px; 
		}
	}
}

.contact{
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 400;
	font-size: 15px; 
	letter-spacing: 0.01em;
	color: #333333;
	display: flex;
	align-items: center;
	text-decoration: none;

	@media (max-width: 639px) {
		font-size: 14px; 
	}
	&:not(:last-child) {
		margin-bottom: 8px;
	}
	&:before{
		content:'';
		display:block;
		width: 20px;
		height: 20px;
		margin-right: 10px;
	}
	&_phone:before{
		background: url(../images/sprite.svg) -9px -206px;
	}
	&_mail:before{
		background: url(../images/sprite.svg) -37px -206px;
	}
}

.soc-blue{
	background: #0061dd;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;

	@media (max-width: 639px) {
		zoom: 0.9;
	}
	&:before{
		content:'';
		display:block;
		width: 25px;
		height: 25px;
	}
	&_fb:before{
		background: url(../images/sprite.svg) -9px -284px;
	}
	&_yt:before{
		background: url(../images/sprite.svg) -43px -284px;
	}
}

.weblamas{
	display: flex;
	align-items: center;
	font-size: 14px;
	margin-left: auto;
	font-size: 14px; 
	color: #595959;
	& span {
		margin-right: 6px;
	}

	@media (max-width: 639px) {
		border-top: 1px solid #CCE1FF;
		margin-left: 0;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 11px; 
	}
}

/*footer menu*/

.menu-footer{
	.menu-item>a{
		color:#fff;
		padding: 17px 10px;
	}
	@media (max-width: 1279px) {
		flex-direction:column;
		padding: 15px 0;
		.menu-item>a{ 
			padding: 6px 10px;
		}
	}
}
