.footer{
	&__top{
		background: #0061dd;
	}
	&__main{
		background: #f3f8ff;
	}
	&__bottom{
		background: #e2eeff;
	}
	&__copy{
		font-size: 14px;
		color: #595959;
	}
}

.contacts{
	&__caption{
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 0.04em;
		color: #0061dd;
	}
	&__add{
		font-size: 14px;
		color: #595959;
	}
}

.contact{
	font-size: 15px;
	letter-spacing: 0.01em;
	&:before{
		content:'';
		display:block;
		width: 20px;
		height: 20px;
	}
	&_phone:before{
		background: url(../images/sprite.svg) -9px -206px;
	}
	&_mail:before{
		background: url(../images/sprite.svg) -37px -206px;
	}
}

.soc-blue{
	background: #0061dd;
	&:before{
		content:'';
		display:block;
		width: 25px;
		height: 25px;
	}
	&_fb:before{
		background: url(../images/sprite.svg) -9px -284px;
	}
	&_yt:before{
		background: url(../images/sprite.svg) -43px -284px;
	}
}

.weblamas{
	font-size: 14px;
}

