.header{
	position: relative;  
	&__top{
		background: #ffffff;
		border-bottom: 1px solid #E2EEFF;
		padding: 15px 0; 
	}
	&__menu{
		background: #ffffff; 
	}
	&__logo {
		margin-right:40px; 
	} 
	.wrapper {
		display: flex;
		align-items: center; 
	} 	 
}

/*callback*/
 
.callback{
	font-weight: 600;
	font-size: 16px;
	color: #0061dd;
	text-decoration: none;
	display: flex;
	align-items: center;
	margin-right: 30px;
	margin-left: 35px; 
	height: 40px; 
	&:before{
		content:'';
		display:block;
		width: 18px;
		height: 18px;
		margin-right: 10px;
		background: url(../images/sprite.svg) -9px -328px;
	}
}


/*langselector*/ 

.language{
	margin-left: auto; 
	font-size: 14px;
	position:relative;	
	cursor:pointer;
	&__current{
		&:after{
			content:'';
			display: inline-block;
			transition: .3s;
			width: 11px;
			height: 10px;
			background: url(../images/sprite.svg) -50px -331px;
			margin-left: 7px;
		}
	}
	&__list{
		list-style: none;
		margin: 0;
		padding: 0;
		position: absolute;
		z-index: 2;
		background: #fff;
		border: 1px solid #e2eeff;
		left: -50%;
		right: -50%;
		top: 25px;
		margin: auto;
		width: fit-content;
		text-align: center;
		display:none;
		a{
			text-decoration:none;
			display:block;
			padding:10px 20px;
			&:hover{
				background:#e2eeff;
				opacity:1;
			}
		}
	}
}

 


/*media*/

@media (max-width: 1279px) {

	.header{
		&__top{  
			border: 0;
			box-shadow:0 7px 15px rgba(0,0,0,0.1); 
			position: relative;
			z-index: 102; 
			.button,
			.language,
			.callback{
				display:none;
			}
		}
		
		&__menu{ 
			height: 0; 
		} 
		&__logo { 
			margin: 0;  
		}
		.wrapper { 
			justify-content: space-between; 
		}   
	} 
	
	.callback{
		margin:0;
	}
	 
}


	
@media (max-width: 639px) {
	
	.header__top{  
		padding:0;
	}
}


 

	
	 
