.header{
	position: relative;  
	&__top{
		background: #ffffff;
		border-bottom: 1px solid #E2EEFF;
		padding: 15px 0; 
	}
	&__menu{
		background: #ffffff; 
	}
	&__logo {
		margin-right:40px; 
	} 
	.wrapper {
		display: flex;
		align-items: center; 
	} 	 
}

/*callback*/
 
.callback{
	font-weight: 600;
	font-size: 16px;
	color: #0061dd;
	text-decoration: none;
	display: flex;
	align-items: center;
	margin-right: 33px;
	margin-left: 40px; 
	height: 40px; 
	&:before{
		content:'';
		display:block;
		width: 18px;
		height: 18px;
		margin-right: 10px;
		background: url(../images/sprite.svg) -9px -328px;
	}
}


/*langselector*/

.langselector {
	margin-left: auto; 
	font-size: 14px;
	color: #595959; 
}
  

 


/*media*/

@media (max-width: 1279px) {

	.header{
		&__top{  
			border: 0;
			box-shadow:0 7px 15px rgba(0,0,0,0.1); 
			position: relative;
			z-index: 102; 
		}
		
		&__menu{ 
			height: 0; 
		} 
		&__logo { 
			margin: 0;  
		}
		.wrapper { 
			justify-content: space-between; 
		}   
	} 
	
	.callback{
		margin:0;
	}
	
	.langselector { 
		max-width: 140px;
		margin-top: 20px;
		margin-left: 0; 
	}  
}


	
@media (max-width: 639px) {
	
	.header__top{  
		padding:0;
	}
}


 

	
	 
