.segment-systems{ 

	@media (min-height: 768px) {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0;
	}
	.wrapper {
		padding: 55px 15px 60px;
		@media (max-width: 1279px) {
			padding: 70px 15px 60px;
		}
		@media (max-width: 639px) {
			padding: 50px 0 45px;
		}
	}
	&__h2{
		text-align: center;
		font-weight: 700;
		font-size: 38px;
		color: #0061dd;
		margin-bottom: 11px;

		@media (max-width: 639px) {
			font-size: 24px; 
		}
	}
	&__desc{
		text-align: center;
		font-weight: 500;
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: 0.04em;

		@media (max-width: 639px) {
			font-size: 13px; 
		}
	}
	&__text {
		@media (max-width: 639px) {
			padding: 0 15px;
		}
	}
	&__items {
		margin-top: 40px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px 50px;
		@media (max-width: 1279px) {
			gap: 30px;
			margin-top: 30px;
		}
		@media (max-width: 1023px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: 639px) {
			grid-template-columns: repeat(1, 1fr);
			row-gap: 23px;
			margin-top: 25px;
		}
	}
}

.system{
	text-decoration: none;
	&__caption{
		font-weight: 600;
		font-size: 19px;
		color: #0061dd; 
		margin: 13px 0 3px;
		line-height: 1.1;
		@media (max-width: 639px) {
			padding: 0 15px;
			font-size: 18px; 
		}
	}
	&__desc{
		font-size: 14px;
		@media (max-width: 639px) {
			padding: 0 15px;  

		}
	}
	&__image { 
		padding-bottom: 52.8%;
		@media  (max-width: 1279px) {
			width: 100%;

		}
	}
	@media  (max-width: 639px) {
	    max-width: 420px;
		margin: auto;
		width: 100%;
	}
}

