.segment-news{
	background: #ffffff;
}

.news-big{
	&__text{
		background: #061dd;
	}
	&__caption{
		font-family: Gilroy;
		font-weight: 600;
		font-size: 18px;
		color: #ffffff;
	}
}

.news{
	&__caption{
		font-family: Gilroy;
		font-weight: 600;
		font-size: 18px;
		color: #061dd;
	}
	&__desc{
		font-family: Gilroy;
		font-weight: 400;
		font-size: 14px;
		color: #595959;
	}
}

