.segment-categories{
	background: #ffffff;
}

.cat-plate{
	&_water{
		font-family: Gilroy;
		text-align: center;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 0.04em;
		color: #0061dd;
	}
	&_water:before{
		content:'';
		display:block;
		width: 77px;
		height: 77px;
		background: url(../images/sprite.svg) -9px -9px;
	}
	&_gas{
		font-family: Gilroy;
		text-align: center;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 0.04em;
		color: #0061dd;
	}
	&_gas:before{
		content:'';
		display:block;
		width: 77px;
		height: 77px;
		background: url(../images/sprite.svg) -114px -9px;
	}
	&_sewage{
		font-family: Gilroy;
		text-align: center;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 0.04em;
		color: #0061dd;
	}
	&_sewage:before{
		content:'';
		display:block;
		width: 77px;
		height: 77px;
		background: url(../images/sprite.svg) -219px -9px;
	}
	&_heat{
		font-family: Gilroy;
		text-align: center;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 0.04em;
		color: #0061dd;
	}
	&_heat:before{
		content:'';
		display:block;
		width: 77px;
		height: 77px;
		background: url(../images/sprite.svg) -324px -9px;
	}
	&_plumb{
		font-family: Gilroy;
		text-align: center;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 0.04em;
		color: #0061dd;
	}
	&_plumb:before{
		content:'';
		display:block;
		width: 77px;
		height: 77px;
		background: url(../images/sprite.svg) -429px -9px;
	}
	&_fire{
		font-family: Gilroy;
		text-align: center;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 0.04em;
		color: #0061dd;
	}
	&_fire:before{
		content:'';
		display:block;
		width: 77px;
		height: 77px;
		background: url(../images/sprite.svg) -534px -9px;
	}
}

