.segment-advantages{
	background: #ffffff;
	padding: 90px 0;

	@media (max-width: 1279px) { 
	}
	@media (max-width: 1023px) {
		padding: 50px 0;
	}
	@media (max-width: 639px) {
		padding: 40px 0 45px;
	}
	& .wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		row-gap: 90px;

		@media (max-width: 1279px) {
			column-gap: 20px;
			justify-items: center;
			row-gap: 65px;
		}
		@media (max-width: 1023px) {
			grid-template-columns: repeat(2, 1fr);
			column-gap: 70px;
			
		}
		@media (max-width: 767px) {
			grid-template-columns: repeat(1, 1fr);
			justify-items: stretch;
			padding: 0 35px;
			row-gap: 50px; 
			max-width: 330px;
		}
	}
}

.advantage{
	display: grid;
	align-items: center;
	grid-template-columns: 158px max-content 1fr;
	row-gap: 10px;
	grid-template-areas:
	"a b c"
	". d d";
	line-height: 1; 
	margin:auto;
	width:100%;
	@media (max-width: 1279px) {
		grid-template-columns: max-content max-content;
		row-gap: 0;
		column-gap: 20px;
		grid-template-areas:
		"b a"
		". c"
		". d";
	}
	@media (min-width: 1280px) {
		&:nth-child(3n) {
			grid-template-columns: 90px max-content 1fr;
		}

		&:nth-child(3n+2){
				grid-template-columns: 100px max-content 1fr;
			}
	} 
	&__num{
		font-weight: 900;
		font-size: 51px;
		color: #d2e5ff;
		white-space: nowrap;
		text-align: end;
		grid-area: a;

		@media (max-width: 1279px) {
			text-align: start;
		}
		@media (max-width: 639px) {
			font-size: 40px; 
		}
	}
	&__ico{
		width: 66px;
		height: 66px;
		grid-area: b;

		@media (min-width: 1280px) {
			margin-right: 15px;
			margin-left: 11px;
		}
		@media (max-width: 639px) {
			zoom: 0.83;
		}
	}
	&__word{
		font-weight: 700;
		font-size: 30px;
		color: #d2e5ff;
		grid-area: c;
		text-align: start;

		@media (max-width: 1279px) {
			padding-bottom: 9px;
		}
		@media (max-width: 639px) {
			font-size: 26px; 
		}
	}
	&__desc{
		font-size: 16px;
		line-height: 125%;
		grid-area: d;
		max-width: 210px;
		@media (max-width: 639px) {
			font-size: 15px; 
		}

		@media (min-width: 1280px) {
			padding-left: 11px;
		}
	}
	&_assort &__ico{
		background: url(../images/sprite.svg) -291px -112px;
	}
	&_delivery &__ico{
		background: url(../images/sprite.svg) -197px -112px;
	}
	&_offices &__ico{
		background: url(../images/sprite.svg) -479px -112px;
	}
	&_stock &__ico{
		background: url(../images/sprite.svg) -385px -112px;
	}
	&_team &__ico{
		background: url(../images/sprite.svg) -103px -112px;
	}
	&_import &__ico{
		background: url(../images/sprite.svg) -9px -112px;
	}
}

