.segment-projects{
	background: #f3f8ff;
}

.project{
	&__caption{
		font-weight: 700;
		font-size: 23px;
		color: #0061dd;
	}
	&__desc{
		font-size: 15px;
		color: #595959;
	}
	&__link{
		font-weight: 600;
		font-size: 16px;
		color: #ff833;
	}
}

