.segment-categories{
	background: #ffffff;

	.wrapper {
		padding: 15px 0 23px;
		display: flex;
		align-items: center;
		display: grid;
		grid-template-columns: repeat(6, 1fr);

		@media (max-width: 1023px) {
			grid-template-columns: repeat(3, 1fr);
			row-gap: 20px;
		}
		@media (max-width: 639px) {
			grid-template-columns: repeat(2, 1fr);
			padding: 5px 0;
		}
	}
}

.cat-plate{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.04em;
	color: #0061dd;
	text-decoration: none;

	@media (max-width: 639px) {
		font-size: 12px;
		line-height: 14px;
		padding-bottom: 4px;
		padding-top: 10px;
	}
	&:not(:last-child) {
		border-right: 1px solid #E2EEFF;
	}
	&:before{
		content:'';
		display:block;
		width: 77px;
		height: 77px;
		margin-bottom: 8px;

		@media (max-width: 639px) {
			zoom: 0.714;
			margin-bottom: 12px;
		}
	}
	&_water:before{
		background: url(../images/sprite.svg) -9px -9px;
	}
	&_gas:before{
		background: url(../images/sprite.svg) -114px -9px;
	}
	&_sewage:before{
		background: url(../images/sprite.svg) -219px -9px;
	}
	&_heat:before{
		background: url(../images/sprite.svg) -324px -9px;
	}
	&_plumb:before{
		background: url(../images/sprite.svg) -429px -9px;
	}
	&_fire:before{
		background: url(../images/sprite.svg) -534px -9px;
	}
}

