.segment-advantages{
	background: #ffffff;
	padding: 115px 0 90px;
	& .wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 75px;
		row-gap: 65px;
	}
}

.advantage{
	display: grid;
	align-items: center;
	grid-template-columns: max-content max-content 1fr;
	row-gap: 16px;
	grid-template-areas:
	"a b c"
	". d d";
	&__num{
		font-weight: 900;
		font-size: 51px;
		color: #d2e5ff;
		white-space: nowrap;
		text-align: end;
		grid-area: a;
		margin-right: 11px;
	}
	&__ico{
		width: 66px;
		height: 66px;
		grid-area: b;
		margin-right: 15px;
	}
	&__word{
		font-weight: 700;
		font-size: 30px;
		color: #d2e5ff;
		grid-area: c;
		text-align: start;
	}
	&__desc{
		font-size: 16px;
		grid-area: d;
		max-width: 210px;
	}
	&_assort &__ico{
		background: url(../images/sprite.svg) -291px -112px;
	}
	&_delivery &__ico{
		background: url(../images/sprite.svg) -197px -112px;
	}
	&_offices &__ico{
		background: url(../images/sprite.svg) -479px -112px;
	}
	&_stock &__ico{
		background: url(../images/sprite.svg) -385px -112px;
	}
	&_team &__ico{
		background: url(../images/sprite.svg) -103px -112px;
	}
	&_import &__ico{
		background: url(../images/sprite.svg) -9px -112px;
	}
}

