.segment-systems{
	background: #f3f8ff;

	@media (min-width: 780px) {
		height: 100%;
	}
	padding: 55px 0 60px;
	&__h2{
		text-align: center;
		font-weight: 700;
		font-size: 38px;
		color: #0061dd;
		margin-bottom: 11px;
	}
	&__desc{
		text-align: center;
		font-weight: 500;
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: 0.04em;
	}
	&__text {

	}
	&__items {
		margin-top: 40px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px 50px;
	}
}

.system{
	text-decoration: none;
	&__caption{
		font-weight: 600;
		font-size: 19px;
		color: #0061dd;
	}
	&__desc{
		font-size: 14px;
	}
}

