.segment-advantages{
	background: #ffffff;
}

.advantage{
	&__num{
		font-weight: 900;
		font-size: 51px;
		color: #d2e5ff;
	}
	&__ico{
		width: 66px;
		height: 66px;
	}
	&__word{
		font-weight: 700;
		font-size: 30px;
		color: #d2e5ff;
	}
	&__desc{
		font-size: 16px;
	}
	&_assort &__ico{
		background: url(../images/sprite.svg) -291px -112px;
	}
	&_delivery &__ico{
		background: url(../images/sprite.svg) -197px -112px;
	}
	&_offices &__ico{
		background: url(../images/sprite.svg) -479px -112px;
	}
	&_stock &__ico{
		background: url(../images/sprite.svg) -385px -112px;
	}
	&_team &__ico{
		background: url(../images/sprite.svg) -103px -112px;
	}
	&_import &__ico{
		background: url(../images/sprite.svg) -9px -112px;
	}
}

