.segment-partners{
	background: #f3f8ff;
}

.brands-count{
	&__num{
		font-family: Gilroy;
		text-align: center;
		font-weight: 600;
		font-size: 37px;
		color: #ffffff;
	}
	&__desc{
		font-family: Gilroy;
		text-align: center;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 15px;
		letter-spacing: 0.04em;
		color: #ffffff;
	}
}

