.segment-systems{ 

	@media (min-height: 768px) {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0;
	}
	.wrapper {
		padding: 55px 15px 60px;
		@media (max-width: 639px) {
			padding: 55px 0 60px;
		}
	}
	&__h2{
		text-align: center;
		font-weight: 700;
		font-size: 38px;
		color: #0061dd;
		margin-bottom: 11px;

		@media (max-width: 767px) {
			font-size: 24px;
			line-height: 108%;
		}
	}
	&__desc{
		text-align: center;
		font-weight: 500;
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: 0.04em;

		@media (max-width: 767px) {
			font-size: 13px;
			line-height: 138%;
		}
	}
	&__text {
		@media (max-width: 639px) {
			padding: 0 15px;
		}
	}
	&__items {
		margin-top: 40px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px 50px;
		@media (max-width: 1279px) {
			grid-template-columns: repeat(2, 1fr);
			gap: 30px;
		}
		@media (max-width: 639px) {
			grid-template-columns: repeat(1, 1fr);
			row-gap: 23px;
		}
	}
}

.system{
	text-decoration: none;
	&__caption{
		font-weight: 600;
		font-size: 19px;
		color: #0061dd;
		margin-top: 10px;
		@media (max-width: 639px) {
			padding: 0 15px;
			font-size: 18px;
			line-height: 128%;
		}
	}
	&__desc{
		font-size: 14px;
		@media (max-width: 639px) {
			padding: 0 15px;
			font-size: 13px;
			line-height: 177%;

		}
	}
	&__image { 
		padding-bottom: 52.8%;
		@media  (max-width: 1279px) {
			width: 100%;

		}
	}
}

