.segment-projects{
	background: #f3f8ff; 
	& .wrapper {
		position: relative;
		padding: 90px 15px;
		@media (min-width: 1280px) {
			display: flex;
			padding: 90px 0;
			align-items: center;
		}
		@media (max-width: 639px) {
			padding: 44px 15px 56px;
		}

	}
	&__text {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 400;
		font-size: 17px; 
		color: #333333;
		flex-basis: 340px;
		flex-shrink: 0;
		@media (min-width: 1280px) {
			padding-right: 70px;
		} 
		@media (max-width: 1279px) {
			margin-bottom: 30px;			
		}
		& p { 
			&:last-child{
				margin-bottom:0;
			}
		}

	}
	&__slider-wr {
		min-width: 0;
		position:relative;
		@media (max-width: 639px) {
			max-width:390px;
			margin:auto;
		}
	}
	&__slider { 
		@media (max-width: 639px) {
			margin: 0 -15px; 
			.project__caption, .project__desc, .project__link {
				padding: 0 15px;
			}
		}  
	}  
}

 



.project{
	&__image {
		padding-bottom: 74.7%;
		margin-bottom: 24px;
		background-size: cover;
		background-repeat: no-repeat;
		display: block;
	}
	&__caption{
		font-weight: 700;
		font-size: 23px;
		color: #0061dd;
		margin-bottom: 10px;
		line-height: 1.1;
		@media (max-width: 639px) {
			font-size: 21px; 
			margin-bottom: 8px;
		}
	}
	&__desc{
		font-size: 15px;
		color: #595959;
		margin-bottom: 8px; 
		@media (max-width: 639px) {
			font-size: 14px; 
		}
	}
	&__link{
		text-decoration: none;
		font-weight: 600;
		font-size: 16px;
		color: #ff8303;
		display: flex;
		align-items: center;

		&::after {
			content: '';
			background: url(../images/sprite.svg) -113px -333px;
			display: block;
			height: 9.04px;
			width: 7.07px;
			margin-left: 9px;
		}

		@media (max-width: 639px) {
			font-size: 15px; 
		}
	}
}