<footer class="footer">
	<div class="footer__top">
		<div class="wrapper">
			<div>
				<?php echo wp_nav_menu(array('theme_location'=>'menu-footer','container'=>'nav','container_class'=>'navbar','menu_class'=>'menu menu-footer'));?>
			</div>
		</div>
	</div>
	<div class="footer__main">
		<div class="wrapper">
			<a href="/" class="footer__logo logo"></a>
			<div class="footer__contacts">
				<div class="contacts">
					<div class="contacts__caption">Центральний офіс і склад</div>
					<div class="contacts__add">04073, м. Київ, вул. Куренівська, 16а</div>
					<a class="contact contact_phone" href="tel:+380442210200">+380 (44) 221-02-00</a>
					<a class="contact contact_mail" href="mailto:sbut@santehkomplekt.ua">sbut@santehkomplekt.ua</a>
					<a class="contact contact_mail" href="mailto:sbut@santehkomplekt.ua">snab@santehkomplekt.ua</a>
				</div>
				<div class="contacts">
					<div class="contacts__caption">Київ, склад РЦ</div>
					<div class="contacts__add">04000, м. Киів, вул. Козелецька, 24</div>
					<a class="contact contact_phone" href="tel:+380442210200">+380 (44) 221-02-00</a>
					<a class="contact contact_mail" href="mailto:sbut@santehkomplekt.ua">sbut@santehkomplekt.ua</a>
					<a class="contact contact_mail" href="mailto:sbut@santehkomplekt.ua">snab@santehkomplekt.ua</a>
				</div>
				<div class="contacts">
					<div class="contacts__caption">Дніпровська філія</div>
					<div class="contacts__add">49098, м. Дніпро, вул. Любарського, 93</div>
					<a class="contact contact_phone" href="tel:+380442210200">+380 (44) 221-02-00</a>
					<a class="contact contact_mail" href="mailto:sbut@santehkomplekt.ua">sbut@santehkomplekt.ua</a>
					<a class="contact contact_mail" href="mailto:sbut@santehkomplekt.ua">snab@santehkomplekt.ua</a>
				</div>
				<div class="contacts">
					<div class="contacts__caption">Запорізька філія</div>
					<div class="contacts__add">69035, м. Запоріжжя, вул. Феросплавна, 38</div>
					<a class="contact contact_phone" href="tel:+380617090900">+380 (61) 709-09-00</a>
					<a class="contact contact_mail" href="mailto:sbut@santehkomplekt.ua">sbut@santehkomplekt.ua</a>
					<a class="contact contact_mail" href="mailto:sbut@santehkomplekt.ua">snab@santehkomplekt.ua</a>
				</div>
				<div class="contacts">
					<div class="contacts__caption">Харківська філія</div>
					<div class="contacts__add">61105, м. Харків, вул. Фонвізіна, 18</div>
					<a class="contact contact_phone" href="tel:+380577820080">+380 (57) 782-00-80</a>
					<a class="contact contact_mail" href="mailto:sbut@santehkomplekt.ua">sbut@santehkomplekt.ua</a>
					<a class="contact contact_mail" href="mailto:sbut@santehkomplekt.ua">snab@santehkomplekt.ua</a>
				</div>
				<div class="contacts">
					<div class="contacts__caption">Одеська філія</div>
					<div class="contacts__add">65033, м. Одеса, вул. Головківська, 57/1</div>
					<a class="contact contact_phone" href="tel:+380487000628">+380 (48) 700-06-28</a>
					<a class="contact contact_mail" href="mailto:sbut@santehkomplekt.ua">sbut@santehkomplekt.ua</a>
					<a class="contact contact_mail" href="mailto:sbut@santehkomplekt.ua">snab@santehkomplekt.ua</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="wrapper">
			<div>
				<div class="footer__copy">© 2015-2022 Теплоарматура</div>
				<div class="footer__soc">
					<a href="#" class="soc-blue soc-blue_yt"></a>
					<a href="#" class="soc-blue soc-blue_fb"></a>
				</div>
			</div>
			<div class="weblamas">
				<span>Розробка сайту: </span>
				<a href="https://weblamas.com/" rel="nofollow">WebLamas</a>
			</div>
		</div>
	</div>
</footer>