<div class="h1-caption">
	<div class="wrapper">
		<h1>Головний заголовок сторінки</h1>
		<ol itemscope="" itemtype="http://schema.org/BreadcrumbList" class="breadcrumbs">
			<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
				<a itemscope="" itemtype="http://schema.org/Thing" itemprop="item" href="/">
					<span itemprop="name">Головна</span>
				</a>
				<meta itemprop="position" content="1">
			</li>
			<li><span class="arrow"></span></li>
			<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
				<a itemscope="" itemtype="http://schema.org/Thing" itemprop="item" href="https://jaroslavkaplan.com/./kaplan_biznes/">
					<span itemprop="name">Категория</span>
				</a>
				<meta itemprop="position" content="2">
			</li>
			<li><span class="arrow"></span></li>
			<li class="unactive">
				<span>Назва сторінки</span>
			</li>
		</ol> 
	</div>
</div>