<header class="header">
	<div class="header__top">
		<div class="wrapper">
			<div class="burger">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<a class="header__logo logo" href="/"></a>
			<a href="#" class="button" data-da=".segment-main__text,1280,2">B2B портал</a>
			<div class="language">
				<div class="language__current">Українська</div>
				<ul class="language__list">
					<li><a href="#">Українська</a></li>
					<li><a href="#">Русский</a></li>
				</ul>
			</div> 
			<a class="callback" href="#" data-da=".navbar,1280,1" data-fancybox2 data-src="#form-callme1" data-modal="true">Замовити виклик</a>
			<div class="soc-wr">
				<a href="#" class="soc soc_tg"></a>
				<a href="#" class="soc soc_vi"></a>
				<a href="#" class="soc soc_fb"></a>
			</div>
		</div>
	</div>
	<div class="header__menu">
		<div class="wrapper"> 
			<?php echo wp_nav_menu(array('theme_location'=>'menu-main','container'=>'nav','container_class'=>'navbar','menu_class'=>'menu menu-main'));?>
		</div>
	</div>
</header>