<header class="header">
	<div class="header__top">
		<div class="wrapper">
			<div class="burger">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<a class="header__logo logo" href="/"></a>
			<a href="#" class="button" >B2B портал</a>
			<div class="language">
				<div class="language__current">Українська</div>
				<ul class="language__list">
					<li><a href="#">Українська</a></li>
					<li><a href="#">Русский</a></li>
				</ul>
			</div> 
			<a class="callback" href="#form-callme" data-fancybox>Замовити виклик</a>
			<div class="soc-wr">
				<a href="#" class="soc soc_tg"></a>
				<a href="#" class="soc soc_vi"></a>
				<a href="#" class="soc soc_fb"></a>
			</div>
		</div>
	</div>
	<div class="header__menu">
		<div class="wrapper"> 
            <div class="navbar-mobile">
                <?php echo wp_nav_menu(array('theme_location'=>'menu-main','container'=>'nav','container_class'=>'navbar','menu_class'=>'menu menu-main'));?>
                <div class="navbar-mobile__group">
                    <a class="callback" href="#form-callme" data-fancybox>Замовити виклик</a>
                    <a href="#" class="button">Каталог продукції</a>
                    <div class="language">
                        <div class="language__current">Українська</div>
                        <ul class="language__list">
                            <li><a href="#">Українська</a></li>
                            <li><a href="#">Русский</a></li>
                        </ul>
                    </div> 
                </div>
            </div>
		</div>
	</div>
</header>