<nav class="navbar">
	<ul class="menu menu-main">
		<li class="menu-item">
			<a href="#">Про компанію</a>
			<ul>
				<li><a href="#">Про компанію</a></li>
				<li><a href="#">Про компанію</a></li>
				<li><a href="#">Про компанію</a></li>
				<li><a href="#">Про компанію</a></li>
			</ul>
		</li>
		<li class="menu-item">
			<a href="#">Напрямки діяльності</a>
			<ul>
				<li><a href="#">Про компанію</a></li>
				<li><a href="#">Про компанію</a></li>
				<li><a href="#">Про компанію</a></li>
				<li><a href="#">Про компанію</a></li>
			</ul>
		</li>
		<li class="menu-item">
			<a href="#">Бренди</a>
		</li>
		<li class="menu-item">
			<a href="#">Об’єкти</a>
		</li>
		<li class="menu-item">
			<a href="#">Прайси</a>
		</li>
		<li class="menu-item">
			<a href="#">Каталоги</a>
		</li>
		<li class="menu-item">
			<a href="#">Інженерні системи</a>
			<ul>
				<li><a href="#">Про компанію</a></li>
				<li><a href="#">Про компанію</a></li>
				<li><a href="#">Про компанію</a></li>
				<li><a href="#">Про компанію</a></li>
			</ul>
		</li>
		<li class="menu-item">
			<a href="#">Контакти</a>
		</li>
	</ul>
</nav>