<nav class="navbar footer__navbar">
	<ul class="menu menu-footer">
		<li class="menu-item">
			<a href="#">Про компанію</a>
		</li>
		<li class="menu-item">
			<a href="#">Напрямки діяльності</a>
		</li>
		<li class="menu-item">
			<a href="#">Бренди</a>
		</li>
		<li class="menu-item">
			<a href="#">Об’єкти</a>
		</li>
		<li class="menu-item">
			<a href="#">Прайси</a>
		</li>
		<li class="menu-item">
			<a href="#">Каталоги</a>
		</li>
		<li class="menu-item">
			<a href="#">Інженерні системи</a>
		</li>
		<li class="menu-item">
			<a href="#">Контакти</a>
		</li>
	</ul>
</nav>