<div class="segment-projects">
	<div class="wrapper">
		<div class="segment-projects__text">
			<h2 class="caption-h2">Наші об’єкти</h2>
			<p>Основна перевага компанії "Теплоарматура" — це широкий асортимент товарів, що дозволяє в найкоротші терміни задовольнити потреби наших клієнтів по комплектації будівельних об'єктів будь-якої складності: від прокладання водопроводу в квартирі до повної комплектації сантехнічним та інженерним обладнанням житлового комплексу. "Теплоарматура" — це широкий асортимент товарів, що дозволяє в найкоротші терміни задовольнити потреби наших клієнтів по комплектації будівельних об'єктів.</p>
		</div>
		<div class="swiper segment-projects__slider">
			<div class="swiper-wrapper  segment-projects__wrapper">
				<div class="project swiper-slide project-slide">
					<div class="project__image" style="background-image: url('images/project-01.png');"></div>
					<div class="project__caption">Premier resort hotel</div>
					<div class="project__desc">готель поруч з ТК Буковель, надає можливість інвесторам стати співвласником апартаментів стати співвласником апартаментів</div>
					<a href="#" class="project__link">Більше</a>
				</div>
				<div class="project swiper-slide project-slide">
					<div class="project__image" style="background-image: url('images/project-02.png');"></div>
					<div class="project__caption">Premier resort hotel</div>
					<div class="project__desc">готель поруч з ТК Буковель, надає можливість інвесторам стати співвласником апартаментів стати співвласником апартаментів</div>
					<a href="#" class="project__link">Більше</a>
				</div>
				<div class="project swiper-slide project-slide">
					<div class="project__image" style="background-image: url('images/project-01.png');"></div>
					<div class="project__caption">Premier resort hotel</div>
					<div class="project__desc">готель поруч з ТК Буковель, надає можливість інвесторам стати співвласником апартаментів стати співвласником апартаментів</div>
					<a href="#" class="project__link">Більше</a>
				</div>
				<div class="project swiper-slide project-slide">
					<div class="project__image" style="background-image: url('images/project-02.png');"></div>
					<div class="project__caption">Premier resort hotel</div>
					<div class="project__desc">готель поруч з ТК Буковель, надає можливість інвесторам стати співвласником апартаментів стати співвласником апартаментів</div>
					<a href="#" class="project__link">Більше</a>
				</div>
			</div>
		</div>
		<div class="segment-projects__navinations navinations">
			<button class="arrow-slide arrow-prev"></button>
			<button class="arrow-slide arrow-next"></button>
		</div>
	</div>
</div>