<div class="segment-advantages">
	<div class="wrapper">
		<div class="advantage advantage_assort">
			<div class="advantage__num">52 500</div>
			<div class="advantage__ico"></div>
			<div class="advantage__word">асортимент</div>
			<div class="advantage__desc">Різноманіття продукції:  в асортименті більше  52 500 найменувань</div>
		</div>
		<div class="advantage advantage_delivery">
			<div class="advantage__num">21</div>
			<div class="advantage__ico"></div>
			<div class="advantage__word">доставка</div>
			<div class="advantage__desc">Доставляємо в найкоротші строки: власний автопарк  з 21 автомобіля</div>
		</div>
		<div class="advantage advantage_offices">
			<div class="advantage__num">5</div>
			<div class="advantage__ico"></div>
			<div class="advantage__word">представленість</div>
			<div class="advantage__desc">Охоплюємо всю країну: 5 філій в різних регіонах України</div>
		</div>
		<div class="advantage advantage_stock">
			<div class="advantage__num">24 500</div>
			<div class="advantage__ico"></div>
			<div class="advantage__word">наявність</div>
			<div class="advantage__desc">Складські приміщення загальною площею більше 24 500 кв. м</div>
		</div>
		<div class="advantage advantage_team">
			<div class="advantage__num">320</div>
			<div class="advantage__ico"></div>
			<div class="advantage__word">команда</div>
			<div class="advantage__desc">Професійність колективу: для вас працює понад 320 фахівців</div>
		</div>
		<div class="advantage advantage_import">
			<div class="advantage__num">11</div>
			<div class="advantage__ico"></div>
			<div class="advantage__word">власний імпорт</div>
			<div class="advantage__desc">Широка географія постачальників: співпраця  з 11 країнами світу</div>
		</div>
	</div>
</div>