<div class="segment-news">
	<div class="wrapper">
		<div class="caption-h2">Наші новини</div>
		<div class="news-big">
			<div class="news-big__text">
				<div class="news-big__caption">Разом до перемоги: підтримка військових, допомога волонтерам</div>
				<a href="#" class="news-big__button button">Читати більше</a>
			</div>
		</div>
		<a class="news" href="#">
			<h3 class="news__caption">Змішувачі Swan — новинка</h3>
			<div class="news__desc">тут буде розміщуватися короткий вступний текст новини, декілька ключових слів написано</div>
		</a>
		<a class="news" href="#">
			<h3 class="news__caption">Дренаж вашому будинку</h3>
			<div class="news__desc">тут буде розміщуватися короткий вступний текст новини, декілька ключових слів написано</div>
		</a>
		<a class="news" href="#">
			<h3 class="news__caption">Акційні змішувачі Oras</h3>
			<div class="news__desc">тут буде розміщуватися короткий вступний текст новини, декілька ключових слів написано</div>
		</a>
		<a class="news" href="#">
			<h3 class="news__caption">Розширення каталогу 2022</h3>
			<div class="news__desc">тут буде розміщуватися короткий вступний текст новини, декілька ключових слів написано</div>
		</a>
		<a class="news" href="#">
			<h3 class="news__caption">Знижки на насоси -20%</h3>
			<div class="news__desc">тут буде розміщуватися короткий вступний текст новини, декілька ключових слів написано</div>
		</a>
		<a class="news" href="#">
			<h3 class="news__caption">Вже на складі в Києві</h3>
			<div class="news__desc">тут буде розміщуватися короткий вступний текст новини, декілька ключових слів написано</div>
		</a>
	</div>
</div>