<div class="segment-news">
	<div class="wrapper">
		<div class="caption-h2">Наші новини</div>
		<div class="items mobile-hide">
			<div class="news-big">
				<div class="news__image" style="background: url('images/news-big__photo.png');"></div>
				<div class="news-big__text">
					<div class="news-big__caption">Разом до перемоги: підтримка військових, допомога волонтерам</div>
					<a href="#" class="news-big__button button">Читати більше</a>
				</div>
			</div>
			<a class="news" href="#">
				<div class="news__image" style="background: url('images/news-sm__photo-01.png');"></div>
				<h3 class="news__caption">Змішувачі Swan — новинка</h3>
				<div class="news__desc">тут буде розміщуватися короткий вступний текст новини, декілька ключових слів написано</div>
			</a>
			<a class="news" href="#">
				<div class="news__image" style="background: url('images/news-sm__photo-02.png');"></div>
				<h3 class="news__caption">Дренаж вашому будинку</h3>
				<div class="news__desc">тут буде розміщуватися короткий вступний текст новини, декілька ключових слів написано</div>
			</a>
			<a class="news" href="#">
				<div class="news__image" style="background: url('images/news-sm__photo-03.png');"></div>
				<h3 class="news__caption">Акційні змішувачі Oras</h3>
				<div class="news__desc">тут буде розміщуватися короткий вступний текст новини, декілька ключових слів написано</div>
			</a>
			<a class="news" href="#">
				<div class="news__image" style="background: url('images/news-sm__photo-04.png');"></div>
				<h3 class="news__caption">Розширення каталогу 2022</h3>
				<div class="news__desc">тут буде розміщуватися короткий вступний текст новини, декілька ключових слів написано</div>
			</a>
			<a class="news" href="#">
				<div class="news__image" style="background: url('images/news-sm__photo-05.png');"></div>
				<h3 class="news__caption">Знижки на насоси -20%</h3>
				<div class="news__desc">тут буде розміщуватися короткий вступний текст новини, декілька ключових слів написано</div>
			</a>
			<a class="news" href="#">
				<div class="news__image" style="background: url('images/news-sm__photo-06.png');"></div>
				<h3 class="news__caption">Вже на складі в Києві</h3>
				<div class="news__desc">тут буде розміщуватися короткий вступний текст новини, декілька ключових слів написано</div>
			</a>
		</div>
		<div class="items news-slider">
			<div class="items__wrapper">
				<div class="news-big news-slide">
					<div class="news__image" style="background: url('images/news-big__photo.png');"></div>
					<div class="news-big__text">
						<div class="news-big__caption">Разом до перемоги: підтримка військових, допомога волонтерам</div>
						<a href="#" class="news-big__button button">Читати більше</a>
					</div>
				</div>
				<div class="news-big news-slide">
					<div class="news__image" style="background: url('images/news-big__photo.png');"></div>
					<div class="news-big__text">
						<div class="news-big__caption">Змішувачі Swan — новинка</div>
						<a href="#" class="news-big__button button">Читати більше</a>
					</div>
				</div> 
				<div class="news-big news-slide">
					<div class="news__image" style="background: url('images/news-big__photo.png');"></div>
					<div class="news-big__text">
						<div class="news-big__caption">Разом до перемоги: підтримка військових, допомога волонтерам</div>
						<a href="#" class="news-big__button button">Читати більше</a>
					</div>
				</div>
				<div class="news-big news-slide">
					<div class="news__image" style="background: url('images/news-big__photo.png');"></div>
					<div class="news-big__text">
						<div class="news-big__caption">Змішувачі Swan — новинка</div>
						<a href="#" class="news-big__button button">Читати більше</a>
					</div>
				</div> 
			</div>
			<div class="navinations navinations-news">
				<button class="arrow-slide arrow-prev"></button>
				<button class="arrow-slide arrow-next"></button>
			</div>
		</div>
	</div>
</div>