<div class="segment-main">
	<div class="wrapper">
		<div class="segment-main__text">
			<h1 class="segment-main__h1">Комплектація сантехнічних інженерних систем</h1>
			<a href="#" class="button" data-da=".navbar,1280,3">Каталог продукції</a>
		</div>
		<div class="segment-main__image image-segment-main">
			<div class="image-segment-main__wrapper">
				<div style="background: url('images/equip-01.png');"></div>
				<div style="background: url('images/equip-05.png');"></div>
				<div style="background: url('images/equip-02.png');"></div>
				<div style="background: url('images/equip-06.png');"></div>
				<div style="background: url('images/equip-03.png');"></div>
				<div style="background: url('images/equip-07.png');"></div>
				<div style="background: url('images/equip-04.png');"></div>
				<div style="background: url('images/equip-08.png');"></div>
			</div>
			<div class="image-segment-main__img">
				<img src="images/house.png" width="501" height="507" alt="">
			</div>
		</div>
	</div>
</div>