<div class="segment-main">
	<div class="wrapper">
		<div class="segment-main__text">
			<h1 class="segment-main__h1">Комплектація сантехнічних інженерних систем</h1>
			<a href="#" class="button button_big button_white">Каталог продукції</a>
			<a href="#" class="segment-main__mob-button button button_big">B2B портал</a>
		</div>
		<div class="segment-main__image house">
			<div class="house__column">
				<div class="house__equip"><span style="background:url(../images/equip-01.png) no-repeat center/cover;"></span></div>
				<div class="house__equip"><span style="background:url(../images/equip-02.png) no-repeat center/cover;"></span></div>
				<div class="house__equip"><span style="background:url(../images/equip-03.png) no-repeat center/cover;"></span></div>
				<div class="house__equip"><span style="background:url(../images/equip-04.png) no-repeat center/cover;"></span></div>
			</div>
			<div class="house__central"></div>
			<div class="house__column">
				<div class="house__equip"><span style="background:url(../images/equip-05.png) no-repeat center/cover;"></span></div>
				<div class="house__equip"><span style="background:url(../images/equip-06.png) no-repeat center/cover;"></span></div>
				<div class="house__equip"><span style="background:url(../images/equip-07.png) no-repeat center/cover;"></span></div>
				<div class="house__equip"><span style="background:url(../images/equip-08.png) no-repeat center/cover;"></span></div>
			</div>
		</div>
	</div>
</div>