<div class="segment-sales">
	<div class="wrapper">
		<a class="sales" href="#">
			<div class="sales__text">
				<div class="sales__caption">Акція на змішувачі Oras!</div>
				<div class="sales__desc">До -30% знижки на всі моделі в на каталозі</div>
				<div class="sales__button button button_big">Перейти в каталог</div>
			</div>
			<div class="sales__image" style="background-image: url('images/sales-01.png');"></div>
		</a>
		<a class="sales sales_orange" href="#">
			<div class="sales__text">
				<div class="sales__caption">Насоси Wilo — новинка!</div>
				<div class="sales__desc">високоефективний насос Wilo-Stratos PICO 2</div>
				<div class="sales__button button button_big button_blue">Перейти в каталог</div>
			</div>
			<div class="sales__image" style="background-image: url('images/sales-02.png');"></div>
		</a>
	</div>
</div>