<div class="segment-partners">
	<div class="wrapper">
		<a href="#" class="segment-partners__num brands-count">
			<div class="brands-count__num">85</div>
			<div class="brands-count__desc">Брендів</div>
		</a>
		<div class="segment-partners__slider slider-segment-partners">
			<div class="swiper-wrapper">
				<div class="swiper-slide segment-partners__slide">
					<img src="images/partner-01.png">
				</div>
				<div class="swiper-slide segment-partners__slide">
					<img src="images/partner-02.png">
				</div>
				<div class="swiper-slide segment-partners__slide">
					<img src="images/partner-03.png">
				</div>
				<div class="swiper-slide segment-partners__slide">
					<img src="images/partner-04.png">
				</div>
				<div class="swiper-slide segment-partners__slide">
					<img src="images/partner-05.png">
				</div>
				<div class="swiper-slide segment-partners__slide">
					<img src="images/partner-06.png">
				</div>
				<div class="swiper-slide segment-partners__slide">
					<img src="images/partner-07.png">
				</div>
				<div class="swiper-slide segment-partners__slide">
					<img src="images/partner-08.png">
				</div>
			</div>
		</div>
	</div>
</div>