<div class="segment-main">
	<div class="wrapper">
		<div class="segment-main__text">
			<h1 class="segment-main__h1">Комплектація сантехнічних інженерних систем</h1>
			<a href="#" class="button button_big button_white">Каталог продукції</a>
		</div>
		<div class="segment-main__image house">
			<div class="house__column">
				<div class="house__equip"><span></span></div>
				<div class="house__equip"><span></span></div>
				<div class="house__equip"><span></span></div>
				<div class="house__equip"><span></span></div>
			</div>
			<div class="house__central"></div>
			<div class="house__column">
				<div class="house__equip"><span></span></div>
				<div class="house__equip"><span></span></div>
				<div class="house__equip"><span></span></div>
				<div class="house__equip"><span></span></div>
			</div>
		</div>
	</div>
</div>