<div class="segment-projects">
	<div class="wrapper">
		<div>
			<h2 class="caption-h2">Наші об’єкти</h2>
			<p>Основна перевага компанії "Теплоарматура"  — це широкий асортимент товарів, що дозволяє в найкоротші терміни задовольнити потреби наших клієнтів по комплектації будівельних об'єктів будь-якої складності: від прокладання водопроводу в квартирі до повної комплектації сантехнічним та інженерним обладнанням житлового комплексу. "Теплоарматура"  — це широкий асортимент товарів, що дозволяє в найкоротші терміни задовольнити потреби наших клієнтів по комплектації будівельних об'єктів.</p>
		</div>
		<div>
			<div class="project">
				<div class="project__caption">Premier resort hotel</div>
				<div class="project__desc">готель поруч з ТК Буковель, надає можливість  інвесторам стати співвласником апартаментів стати співвласником апартаментів</div>
				<a href="#" class="project__link">Більше</a>
			</div>
			<div class="project">
				<div class="project__caption">ЖК Нивки парк</div>
				<div class="project__desc">розташований в п'яти хвилинах від одного з найбільших і зелених київських парків "Нивки" цей проект стає ідеальним вибором</div>
				<a href="#" class="project__link">Більше</a>
			</div>
		</div>
	</div>
</div>