<div class="segment-systems">
	<div class="wrapper">
		<div class="segment-systems__text">
			<h2 class="segment-systems__h2">ТЕПЛОАРМАТУРА — це комплексний постачальник</h2>
			<div class="segment-systems__desc">обладнання, виробів та матеріалів для інженерних систем</div>
		</div>
		<div class="segment-systems__items">
			<a class="system" href="#">
				<div class="system__image" style="background: url('images/system-01.jpg') no-repeat center/cover;"></div>
				<div class="system__caption">Опалювальне обладнання</div>
				<div class="system__desc">радіатори, тепла підлога</div>
			</a>
			<a class="system" href="#">
				<div class="system__image" style="background: url('images/system-02.jpg') no-repeat center/cover;"></div>
				<div class="system__caption">Трубопровідна арматура</div>
				<div class="system__desc">крани, клапани, засувки, затвори</div>
			</a>
			<a class="system" href="#">
				<div class="system__image" style="background: url('images/system-03.jpg') no-repeat center/cover;"></div>
				<div class="system__caption">Пластикові труби</div>
				<div class="system__desc">та деталі трубопроводу</div>
			</a>
			<a class="system" href="#">
				<div class="system__image" style="background: url('images/system-04.jpg') no-repeat center/cover;"></div>
				<div class="system__caption">Насосне обладнання</div>
				<div class="system__desc">каналізаційне, колодязне, циркулярне</div>
			</a>
			<a class="system" href="#">
				<div class="system__image" style="background: url('images/system-05.jpg') no-repeat center/cover;"></div>
				<div class="system__caption">Cталеві труби</div>
				<div class="system__desc">та деталі трубопроводу</div>
			</a>
			<a class="system" href="#">
				<div class="system__image" style="background: url('images/system-06.jpg') no-repeat center/cover;"></div>
				<div class="system__caption">Сантехніка</div>
				<div class="system__desc">кераміка, душові кабіни, аксесуари</div>
			</a>
		</div>
	</div>
</div>