<div class="sidebar">
	<div class="block-side">
		<div class="block-side__caption">Використані товари</div>
		<div class="block-side__links">
			<a href="#">Каналізаційні труби</a>
			<a href="#">Колодязі каналізаційні</a>
			<a href="#">Зливова каналізація</a>
			<a href="#">Люки каналізаційні</a>
		</div>
	</div> 
	<div class="block-side">
		<div class="block-side__caption">Наші новини</div>
		<div class="block-side__news">
			<a class="news" href="#">
				<div class="news__image" style="background: url('images/news-sm__photo-01.png');"></div>
				<h3 class="news__caption">Змішувачі Swan — новинка</h3>
				<div class="news__desc">тут буде розміщуватися короткий вступний текст новини, декілька ключових слів написано</div>
			</a>	
			<a class="news" href="#">
				<div class="news__image" style="background: url('images/news-sm__photo-02.png');"></div>
				<h3 class="news__caption">Дренаж вашому будинку</h3>
				<div class="news__desc">тут буде розміщуватися короткий вступний текст новини, декілька ключових слів написано</div>
			</a>		
			<a class="news" href="#">
				<div class="news__image" style="background: url('images/news-sm__photo-03.png');"></div>
				<h3 class="news__caption">Акційні змішувачі Oras</h3>
				<div class="news__desc">тут буде розміщуватися короткий вступний текст новини, декілька ключових слів написано</div>
			</a>
		</div>
	</div>  
</div>